@charset "UTF-8";
/* CSS Document */

@-moz-viewport { width: device-width; scale: 1; }
@-ms-viewport { width: device-width; scale: 1; }
@-o-viewport { width: device-width; scale: 1; }
@-webkit-viewport { width: device-width; scale: 1; }
@viewport { width: device-width; scale: 1; }

* {
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}

html{
	font:normal 100%/1.8 'Georgia', serif
}

body {
	margin:0;
}

h1{
	margin:0;
}

h2 {
	text-align:center;
}

p {
	margin:0;
	padding-bottom:.5em;
}

img {
	width:100%;
}

.logo {
	width: 30%;
	display:block;
	margin:0 auto;
	border:#FFF solid 1px;
}

div{
	margin:.3em;
}

span {
	width:90%;
	font-size:2em;
}

.btn {
  background:#0069C2;
  border-radius: 7px;
  font-family: Georgia;
  color: #ffffff;
  font-size: 1rem;
  padding: 10px;
  text-decoration: none;
}

.btn:hover {
  background:#E0403E;
  text-decoration: none;
}

.page1 {
	background-color:#006ABC;
}

.page2{
	background-color:#FFF;
}

.page3{
	background-color:#E0403E;
}

.carousel{
	padding-bottom:56.23%; /* Image ratio: height /width * 100 */
	position:relative;
}

.carousel-items{
	padding:0;
}

.carousel-items img {
	position:absolute;
	top:0;
	left:0;
	width:100%;
}

.carousel-items [data-state="current"] {
	z-index:100;
}

.carousel-items [data-state="incoming"] {
	z-index:101;
}

.carousel-buttons {
	position:absolute;
	z-index:1000;
}


@media only screen and (min-width: 38em) {
	.text {
		width:60%;
		display:inline-block;
		float:right;
		margin-top:-4em;
	}
	
	div {
		margin:0;
		padding:1em;
		overflow:hidden;
	}
	
	.rest {
		padding-left:.5em;
		width:35%;
		float:left;
		display:inline-block;
	}
	
	.logo {
		margin:0;
		width:15%;
		padding:.5em;
	}
	
	.page{
		margin:0 auto;
		display:block;
		width:90%;
		padding-bottom:1em;
	}

	.page1 {
		background-color:#006ABC;
	}
	
	.page2{
		background-color:#FFF;
	}
	
	.page3{
		background-color:#E0403E;
	}
	
	footer{
		clear:both;
	}

@media only screen and (min-width: 50em) {
	.page {
		width:80%;
	}
}

@media only screen and (min-width: 72em) {
	html{
		font-size:115%;
	}
	
	.text {
		padding-right:.5em;
	}
}

@media only screen and (min-width: 100em) {
	html{
		font-size:125%;
	}
}

@media only screen and (min-width: 140em) {
	html{
		font-size:150%;
	}
}